<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapi.mapper.TaskMapper">

    <insert id="insert" parameterType="com.example.todoapi.dto.Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tasks (name, tag_id) VALUES (#{name}, #{tagId})
    </insert>

</mapper>